html,body{
    margin: 0;
    padding: 0;
}

 *, :after, :before {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}

img{
    max-width: 100%;
}
h3 ul li a p .address .logo-content .logo .title .container .navbar 
.dropdown .dropdown-content .listText .socialFaceBook .content-contact{
    zoom:1;
}
 h3 ul li a p .address .logo-content .logo .title .container .navbar 
 .dropdown .dropdown-content .listText .socialFaceBook .content-contact{
    content: "";
    clear: both;
    display: block;
}
body{
    width: 100%;
    height: 100%;
    font-family: brandon-grotesque,Adobe Kaiti Std R,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    /*color: #555F61;*/
    -webkit-tap-highlight-color: transparent;
    font-size: 17px;
    background: transparent url("../img/VisionBackground-1.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.motion {
    position: absolute;
	width: 20%;
	height: auto;
    top:37%;
    left:30%;
	text-transform: uppercase;
    text-align: left;
    color: #555F61;
    text-shadow: 1px 1px #555F61;
	font-size: 1.5em;
	font-weight: 100;
    -webkit-animation: imageAnimation 6s linear infinite 0s;
    -moz-animation: imageAnimation 6s linear infinite 0s;
    -o-animation: imageAnimation 6s linear infinite 0s;
    -ms-animation: imageAnimation 6s linear infinite 0s;
    animation: imageAnimation 6s linear infinite 0s;
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
        animation-timing-function: ease-out;
	}
	
	25% {
	     opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-in;
	}
    50% {
	     opacity: 1;
	    transform: scale(1.50);
	}
     75% {
	     opacity: 0;
	    transform: scale(2);
	}
	100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow span{
	opacity: 1;
}

h3{
    text-align: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border-radius: 10px;
    background-color:rgba(235,240,250,0.9);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


li {
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
}



li a:hover {
    background-color: #4CAF50;
    color: white;
}

p{
    font-size: 0.8em;
    text-align: left;
}
.address{
    color: #008CBA;
}
.logo-content{
    position: relative;
    height: 135px;
    padding: 10px;
    margin: 15px;
    /*background-color:rgba(235,240,250,0.9);*/
}
.logo{
    width: 170px;
    height: 135px;
    position: absolute;
    top: 20%;
    left: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.title{
    position: absolute;
    width: 29%;
    top: 4%;
    left: 20%;
    font-style: italic;
    font-weight: normal;
    line-height: 30px;
    color: #4CAF50;
    text-align: right;
}

.container{
    position: absolute; 
    height: auto;
    text-align: center;
    /*background-color:rgba(235,240,250,0.9);*/
    z-index: 2;
}

.navbar{
    position: absolute;
    width: 0;
    margin: 20px;
    margin-top: 120px;
    text-shadow: 0 1px 1px #222;
    z-index: 1;
}

.content{  
    display: block;
    width:50%;        
    position: relative;
    margin-left: 200px;  
    padding: 105px 0 0 75px;   
}

.content-contact{
    display: block;
    width:60%;        
    position: relative;
    margin-left: 200px;  
    padding: 105px 0 0 75px; 
}
/*Dropdown menu*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    left: 190px;
    border-radius: 10px;
    top:1px;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    border-radius: 10px;
    display:inline-table;
}


.listText {
    text-indent: 25px; 
}

.socialFaceBook{
    background:transparent left no-repeat;
    padding: 0 0 0 25px;
}

@media all and (max-width: 1366px) {
   
}
@media all and (max-width: 1280px) {
	.motion{
        left:40%;
    }
}
@media all and (max-width: 1024px) {
	.motion{
        left:45%;
    }
}
@media only screen and (max-width : 992px) {
    .motion{
        left:50%;
    }
    .title{
        top:150px;
    }
}

@media only screen and (max-width : 736px){
    .navbar{
        margin-top: 0;
    }

    .title {
        top: 150px;
        left: 270px;
    }
    .motion{
        left: 60%;
        top:50%;
        font-size: 0.8em;
    }
}






@media only screen and (max-width : 640px) {
    .navbar{
        margin-top: 0;
    }

    .title {
        top: 150px;
        left: 270px;
    }
    .motion{
        left: 60%;
        top:50%;
        font-size: 0.8em;
    }
    
    .dropdown > a:nth-of-type(1) {
        display: none;
    }

    .dropdown-content {
        display: block;
        position: relative;
        background-color:rgba(235,240,250,0.9);
        box-shadow: none;
        left:0;
    }
    a:hover {
        background-color: #4CAF50;
        color: white;
    }
}


@media only screen and (max-width : 480px){
    .navbar{
        margin-top: 0;
    }
    .title{
        top: 235px;
        left: 70px;
    }
    .content{
        margin: auto;
        width: 100%;
        top: 125px;
        padding: 30px 50px 20px 75px;
    }
    .content-contact{
        margin: auto;
        width: 100%;
        top: 125px;
        padding: 30px 50px 20px 75px;
    }
    .motion{
        left: 60%;
        top:50%;
        font-size: 0.8em;
    }
    .home {
        position: relative;
    }

    .home-content {
        display: none;
        position: absolute;
        min-width: 160px;
        top:36px;
    }

    .home-content a {
        display: block;
        color: black;
        left:0;
        padding: 12px 16px;
        text-decoration: none;
    }

    .home:hover .home-content {
        border-radius: 10px;
        display:inline-table;
    }
    .dropdown > a:nth-of-type(1) {
        display: none;
    }

    .dropdown-content {
        display: block;
        position: relative;
        background-color:rgba(235,240,250,0.9);
        box-shadow: none;
        left:0;
    }
    a:hover {
        background-color: #4CAF50;
        color: white;
    }
}


@media only screen and (max-width : 360px){
    .navbar{
        margin-top: -10px;
        left:15%;
    }
    .logo-content {
        width: 60%;
        margin:auto;
    }
    .title{
        top: 180px;
        left: 70px;
    }
    .content{
        margin: auto;
        width: 100%;
        top: 110px;
    }
    .motion{
        left: 35%;
        top:50%;
        font-size: 0.8em;
    }
    .home {
        position: relative;
    }

    .home-content {
        display: none;
        position: absolute;
        min-width: 160px;
        left:0;
        top:36px;
    }

    .home-content a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
    }

    .home:hover .home-content {
        border-radius: 10px;
        display:inline-table;
    }
    .dropdown > a:nth-of-type(1) {
        display: none;
    }

    .dropdown-content {
        display: block;
        position: relative;
        background-color:rgba(235,240,250,0.9);
        box-shadow: none;
        left:0;
    }
    a:hover {
        background-color: #4CAF50;
        color: white;
    }
}

@media only screen and (min-width : 100px) and (max-width : 240px){
    .navbar{
        margin-top: -10px;
        left:0;
    }
    .logo-content {
        width: 80%;
        margin:auto;
    }
    .title{
        top: 180px;
        left: 70px;
    }
    .content{
        margin: auto;
        width: 100%;
        top: 110px;
    }
    .motion{
        left: 35%;
        top:70%;
        font-size: 0.6em;
    }
    .home {
        position: relative;
    }

    .home-content {
        display: none;
        position: absolute;
        min-width: 160px;
        left:0;
        top:36px;
    }

    .home-content a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
    }

    .home:hover .home-content {
        border-radius: 10px;
        display:inline-table;
    }
    .dropdown > a:nth-of-type(1) {
        display: none;
    }

    .dropdown-content {
        display: block;
        position: relative;
        background-color:rgba(235,240,250,0.9);
        box-shadow: none;
        left:0;
    }
    a:hover {
        background-color: #4CAF50;
        color: white;
    }
}
